<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>eSope.eu</title>
	<link rel="stylesheet" media="screen" href="css/style.css" />
  </head>
  <body>
  		
		<div id="center">
			<div id="header">
				<a href="#" class="logo"></a>
				
				<form action="#" method="POST" id="sform">
					<input type="text" name="s" value="Търсене за ..." title="Търсене за ..." class="fld" />
					<input type="submit" name="" value="Търси" class="btn" />
				</form>
				
			</div><!-- /#header -->
			
			<div id="left">
				<div class="mostComm">
					<div class="leftTtl sameauthor">От същия автор</div>
					<ul>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li class="see_all">
							<a href="#">Вижте всички</a>
						</li>
					</ul>
				</div>
			</div><!-- /#left -->
			
			<div id="middle" style="padding-top:20px;">
				
				<div class="post">
					<h1><a href="#">Да идва лятото , че ни писна от тази зима и е твърде вероятно някой да получи комоцио</a></h1>
					<div class="postMeta">
						<span class="authorMeta"><a href="#">Иларион Макариополски</a></span> |
						<span class="dateMeta">21.11.2011</span> |
						<span class="categoryMeta"><a href="#">Вафлички и храсти</a></span> |
						<span class="commentsMeta">Коментари: <a href="#">8</a></span>
					</div>
					
					<a href="#" class="featuredImage">
						<img src="images/postImage.gif" alt="" />
					</a>
					
					<div class="text">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed risus ante, sit amet vestibulum metus. 
						Nullam tincidunt vestibulum hendrerit. <a href="#">Nunc sagittis</a> vestibulum nulla, a adipiscing lectus luctus nec. 
						Cras a libero vel lectus egestas imperdiet et quis velit. Cras eget cursus quam. Nulla eros libero, 
						mollis vel suscipit et, accumsan id erat. Ut libero ligula, venenatis nec tincidunt eu, tempus ut erat.</p>
						<h2>Lorem ipsum</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed risus ante, sit amet vestibulum metus. 
						Nullam tincidunt vestibulum hendrerit. <a href="#">Nunc sagittis</a> vestibulum nulla, a adipiscing lectus luctus nec. 
						Cras a libero vel lectus egestas imperdiet et quis velit. Cras eget cursus quam. Nulla eros libero, 
						mollis vel suscipit et, accumsan id erat. Ut libero ligula, venenatis nec tincidunt eu, tempus ut erat.</p>
						<ul>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
						</ul>
						<ol>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
						</ol>
					</div>
					
					<div class="tags postBox">
						<b>Етикети:</b> <a href="#">тагове</a>, <a href="#">трактор</a>, <a href="#">тагове</a>, <a href="#">тагове</a>
					</div>
					
					<div class="share postBox">
						<b>Сподели:</b>
						<div class="cleaner"></div>
						<a href="#" class="facebook"></a>
						<a href="#" class="twitter"></a>
						<a href="#" class="digg"></a>
						<a href="#" class="stumble"></a>
						<a href="#" class="deliscious"></a>
						<a href="#" class="linked"></a>
						<a href="#" class="mail"></a>
					</div>
					
					<div class="comments">
						<h3>Коментари за <strong>Да идва лятото , че ни писна от тази зима и е твърде вероятно някой да получи комоцио</strong></h3>
						
						<div class="comment">
							<div class="commenTitle">
								<a href="#" class="name">Galin Kyuchukov</a>
								<span class="date">January 10, 2011 at 2:07 pm</span>
							</div>
							Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit. Sed adipiscing rutrum 
dolor, ut viverra lectus fermentum eu. Aliquam semper, tortor in pretium tempus, 
quam urna ultrices lectus, ut sollicitudin turpis sapien vitae massa. Donec posuere 
risus sed tellus pulvinar porttitor.
						</div>
						
						<div class="comment">
							<div class="commenTitle">
								<a href="#" class="name">Galin Kyuchukov</a>
								<span class="date">January 10, 2011 at 2:07 pm</span>
							</div>
							Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit. Sed adipiscing rutrum 
dolor, ut viverra lectus fermentum eu. Aliquam semper, tortor in pretium tempus, 
quam urna ultrices lectus, ut sollicitudin turpis sapien vitae massa. Donec posuere 
risus sed tellus pulvinar porttitor.
						</div>
						
						<div class="cFormTitle">
							Напиши коментар
						</div>
						<form action="#" method="POST" class="cForm">
							<label>Име:</label> <input type="text" name="" value="" class="fld" /> <div class="cleaner"></div>
							<label>Email:</label> <input type="text" name="" value="" class="fld" /> <div class="cleaner"></div>
							<label>Website:</label> <input type="text" name="" value="" class="fld" /> <div class="cleaner"></div>
							<label>Коментар:</label> <textarea name=""></textarea> <div class="cleaner"></div>
							<input type="submit" name="" value="Публикувай" class="btn" />
						</form>
						
					</div><!-- /.comments -->
					
					
				</div><!-- /.post -->
				
				<div id="prevNext">
					<a href="#" class="prev">По - стари</a>
					<a href="#" class="next">По - нови</a>
				</div>
				
				<div class="cleaner"></div>
			</div><!-- /#middle -->
			
			
			<div id="right">
				<a href="#" class="rss"></a>
				<a href="#" class="fb"></a>
				
				<div id="nav">
					<h3 class="rightTtl">Категории</h3>
					<ul class="mainLevel">
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a>
							<ul class="downLevel">
								<li class="downLi"><a href="#">Категория</a></li>
								<li class="downLi"><a href="#">Категория</a></li>
								<li class="downLi"><a href="#">Категория</a></li>
							</ul>
						</li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
					</ul>
				</div><!-- /#nav -->
				
				<div id="archieve">
					<h3 class="rightTtl">Архив</h3>
					<ul>
						<li><a href="#">January 2011</a></li>
						<li><a href="#">January 2011</a></li>
						<li><a href="#">January 2011</a></li>
					</ul>
				</div><!-- /#archieve -->
				
				<div id="blogroll">
					<h3 class="rightTtl">Връзки</h3>
					<ul>
						<li><a href="#">Накаква връзка</a></li>
						<li><a href="#">За обувки</a></li>
						<li><a href="#">Нашите приятели от Уикилийкс</a></li>
					</ul>
				</div><!-- /#blogroll -->
				
			</div><!-- /#right -->
			
			
			<div id="footer">
				<a href="#" class="logo"></a>
				
				<ul id="authors">
					<li>
						<a href="#" style="background-image:url(images/galio.gif);"><span></span></a>
						<p class="name"><strong>Галин Кючуков</strong></p>
						<p>Създател</p>
						<p>Редактор</p>
						<p>Тех. поддръжка</p>
					</li>
					<li>
						<a href="#" style="background-image:url(images/ppenev.gif);"><span></span></a>
						<p class="name"><strong>Преслав Пенев</strong></p>
						<p>Създател</p>
						<p>Гл. Редактор</p>
					</li>
				</ul>
				
			</div><!-- /#footer -->
			
			<div class="cleaner"></div>
		</div><!-- /#center -->
		
  </body>
</html>