<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>eSope.eu</title>
	<link rel="stylesheet" media="screen" href="css/style.css" />
  </head>
  <body>
  		
		<div id="center">
			<div id="header">
				<a href="#" class="logo"></a>
				
				<form action="#" method="POST" id="sform">
					<input type="text" name="s" value="Търсене за ..." title="Търсене за ..." class="fld" />
					<input type="submit" name="" value="Търси" class="btn" />
				</form>
				
			</div><!-- /#header -->
			
			<div id="left">
				<div class="mostComm">
					<div class="leftTtl">Най - коментирани</div>
					<ul>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li>
							<p><a href="#">Някакво заглавие с цел тестване на дизайна</a></p>
							<span class="date">12.01.2011</span>
						</li>
						<li class="see_all">
							<a href="#">Вижте всички</a>
						</li>
					</ul>
				</div>
			</div><!-- /#left -->
			
			<div id="middle" style="padding-top:20px;">
				
				<div class="caTitle">
					<h1>Категория: <strong>Вафлички и храсти</strong></h1>
					<p>4 статии</p>
				</div>
				
				<div class="post">
					<h2><a href="#">Да идва лятото , че ни писна от тази зима и е твърде вероятно някой да получи комоцио</a></h2>
					<div class="postMeta">
						<span class="authorMeta"><a href="#">Иларион Макариополски</a></span> |
						<span class="dateMeta">21.11.2011</span> |
						<span class="categoryMeta"><a href="#">Вафлички и храсти</a></span> |
						<span class="commentsMeta">Коментари: <a href="#">8</a></span>
					</div>
					
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed risus ante, sit amet vestibulum metus. 
						Nullam tincidunt vestibulum hendrerit. Nunc sagittis vestibulum nulla, a adipiscing lectus luctus nec. 
						Cras a libero vel lectus egestas imperdiet et quis velit. Cras eget cursus quam. Nulla eros libero, 
						mollis vel suscipit et, accumsan id erat. Ut libero ligula, venenatis nec tincidunt eu, tempus ut erat.
						
						<p class="readMore">
							<a href="#">Прочети повече</a>
						</p>
					</div>
					
				</div><!-- /.post -->
				
				<div class="post">
					<h2><a href="#">Да идва лятото , че ни писна от тази зима и е твърде вероятно някой да получи комоцио</a></h2>
					<div class="postMeta">
						<span class="authorMeta"><a href="#">Иларион Макариополски</a></span> |
						<span class="dateMeta">21.11.2011</span> |
						<span class="categoryMeta"><a href="#">Вафлички и храсти</a></span> |
						<span class="commentsMeta">Коментари: <a href="#">8</a></span>
					</div>
					
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed risus ante, sit amet vestibulum metus. 
						Nullam tincidunt vestibulum hendrerit. Nunc sagittis vestibulum nulla, a adipiscing lectus luctus nec. 
						Cras a libero vel lectus egestas imperdiet et quis velit. Cras eget cursus quam. Nulla eros libero, 
						mollis vel suscipit et, accumsan id erat. Ut libero ligula, venenatis nec tincidunt eu, tempus ut erat.
						
						<p class="readMore">
							<a href="#">Прочети повече</a>
						</p>
					</div>
					
				</div><!-- /.post -->
				
				<div class="post">
					<h2><a href="#">Да идва лятото , че ни писна от тази зима и е твърде вероятно някой да получи комоцио</a></h2>
					<div class="postMeta">
						<span class="authorMeta"><a href="#">Иларион Макариополски</a></span> |
						<span class="dateMeta">21.11.2011</span> |
						<span class="categoryMeta"><a href="#">Вафлички и храсти</a></span> |
						<span class="commentsMeta">Коментари: <a href="#">8</a></span>
					</div>
					
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed risus ante, sit amet vestibulum metus. 
						Nullam tincidunt vestibulum hendrerit. Nunc sagittis vestibulum nulla, a adipiscing lectus luctus nec. 
						Cras a libero vel lectus egestas imperdiet et quis velit. Cras eget cursus quam. Nulla eros libero, 
						mollis vel suscipit et, accumsan id erat. Ut libero ligula, venenatis nec tincidunt eu, tempus ut erat.
						
						<p class="readMore">
							<a href="#">Прочети повече</a>
						</p>
					</div>
					
				</div><!-- /.post -->
				
				<div id="prevNext">
					<a href="#" class="prev">По - стари</a>
					<a href="#" class="next">По - нови</a>
				</div>
				
			</div><!-- /#middle -->
			
			
			<div id="right">
				<a href="#" class="rss"></a>
				<a href="#" class="fb"></a>
				
				<div id="nav">
					<h3 class="rightTtl">Категории</h3>
					<ul class="mainLevel">
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a>
							<ul class="downLevel">
								<li class="downLi"><a href="#">Категория</a></li>
								<li class="downLi"><a href="#">Категория</a></li>
								<li class="downLi"><a href="#">Категория</a></li>
							</ul>
						</li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
						<li class="mainLi"><a href="#">Име на Категория</a></li>
					</ul>
				</div><!-- /#nav -->
				
				<div id="archieve">
					<h3 class="rightTtl">Архив</h3>
					<ul>
						<li><a href="#">January 2011</a></li>
						<li><a href="#">January 2011</a></li>
						<li><a href="#">January 2011</a></li>
					</ul>
				</div><!-- /#archieve -->
				
				<div id="blogroll">
					<h3 class="rightTtl">Връзки</h3>
					<ul>
						<li><a href="#">Накаква връзка</a></li>
						<li><a href="#">За обувки</a></li>
						<li><a href="#">Нашите приятели от Уикилийкс</a></li>
					</ul>
				</div><!-- /#blogroll -->
				
			</div><!-- /#right -->
			
			
			<div id="footer">
				<a href="#" class="logo"></a>
				<span class="copy">© 2011 Всички права запазени</span>
				<ul id="authors">
					<li>
						<a href="#" style="background-image:url(images/galio.gif);"><span></span></a>
						<p class="name"><strong>Галин Кючуков</strong></p>
						<p>Създател</p>
						<p>Редактор</p>
						<p>Тех. поддръжка</p>
					</li>
					<li>
						<a href="#" style="background-image:url(images/ppenev.gif);"><span></span></a>
						<p class="name"><strong>Преслав Пенев</strong></p>
						<p>Създател</p>
						<p>Гл. Редактор</p>
					</li>
				</ul>
				
			</div><!-- /#footer -->
			
			<div class="cleaner"></div>
		</div><!-- /#center -->
		
  </body>
</html>